rfc2616 is old and incorrect

RFC2616 is inaccurate and should not be referenced. 

We should non-normative reference not less than RFC7230, RFC7231, RFC7232, RFC234, RFC7235

Instead

Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing
   https://tools.ietf.org/html/rfc7230

Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content
https://tools.ietf.org/html/rfc7231

 Hypertext Transfer Protocol (HTTP/1.1): Conditional Requests
https://tools.ietf.org/html/rfc7232

Hypertext Transfer Protocol (HTTP/1.1): Range Requests
https://tools.ietf.org/html/rfc7233

Hypertext Transfer Protocol (HTTP/1.1): Caching
https://tools.ietf.org/html/rfc7234

Hypertext Transfer Protocol (HTTP/1.1): Authentication
https://tools.ietf.org/html/rfc7235



Looks like we just acknowledged the other one was dead. Reopening this issue to remember to update the spec. Additional discussion on this in this issue:

https://github.com/salesforce-marketingcloud/SFDC-MC-REST-Style-Guide/issues/41
